.contact-info {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/13/30/abstract-1845399_1280.jpg);
    background-color: rgba(21, 118, 228, 0.866);
    background-blend-mode: multiply;
  }