
.header-nav {
  background-image: var(--gradient-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 30px;
  margin: 10px;
  transition: margin 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  position: fixed;
  width: 95%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);

}

.scrolled {
  margin: 0;
  border-radius: 0;
  width: 100%;
}

.Toplogo-container {
  .Toplogo {
    height: 3.5rem;
    width: auto;
    filter: invert(100%);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: rotate(360deg) scale(1.1);
    }
  }
}

.links-container {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  .link {
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;


    &:hover {
      color: var(--lightorange-color);
      transform: translateY(-3px) scale(1.1);
    }
  }
}

.header-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-nav:hover::after {
  opacity: 1;
}

.header-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.15rem;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-nav:hover::before {
  opacity: 1;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0.15rem;
  background-color: #fff;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
  opacity: 1;
}
