

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url(https://images.pexels.com/photos/747079/pexels-photo-747079.jpeg);
  background-size: cover;
  background-color: rgba(21, 118, 228, 0.452);
  background-blend-mode: multiply;
  background-attachment: fixed;
 

  .hero-section__container {
    background-image: var(--gradient-background);
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    padding: 3rem;
    width: 300px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
    border-radius: 30px;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    color: var(--white-color);
    -webkit-backdrop-filter: blur(10px);
    width: 30%;

    h1 {
      font-size: 30px;
      font-weight: 700;
      padding: 20px;
      span{
        color: var(--red-color);
        font-family: Lobster;
        font-weight: bold;
        text-shadow: 0 1px 20px #ffffff;
      }
    }

    p {
      padding: 10px;
    }

    button {
      border-radius: 10px;

    }

    // Responsive Styles
    @media screen and (max-width: 1117px) {
      width: 50%;
      left: 10%;
    }

    @media screen and (max-width: 768px) {
      width: 90%;
      left: 5%;
    }

    @media screen and (max-width: 480px) {
      
      
      width: 90%;
      
      padding: 1rem;

      h1 {
        font-size: 24px;
      }
    }
  }
}
