.Aboutus-section {
    height: 60vh;
    position: relative;
    overflow: hidden;

    .background-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            animation: slideBackground 30s infinite;
            background-attachment: fixed;
            z-index: -1;
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(54, 214, 206, 0.262); /* Adjust the opacity as needed */
            z-index: 1;
          }
    }

    .section-content {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        z-index: 1;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            font-family: Monoton;
            animation: neon1 1.5s ease-in-out infinite alternate;
            letter-spacing: 5px;
        }
    }
}



@keyframes slideBackground {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}