.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.header-nav {
  background-image: var(--gradient-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.5rem;
  width: auto;
  filter: invert(100%);
}

.links-container {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.link {
  color: var(--white-color);
  text-decoration: none;
}

/* Scrolled State */
.scrolled {
  margin: 0;
  border-radius: 0;
  width: 100%;
}
